DirectoryIndex index.php

RewriteEngine On

RewriteRule ^api/(.*)$ backend/index.php?path=$1 [QSA,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(assets|login|tv|operator|monitoring|client)/(.*)$ frontend/$1/$2 [L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(assets|login|tv|operator|monitoring|client)/?$ frontend/$1/index.html [L]
